@charset "UFT-8";

/*Web Page design*/
.title{
	text-align: center;
	font-size: 60px;
	background-color: palegreen;
}

.paragraph{
	text-align: center;
	font-size: 20px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 100px;
}

.container{
	display: flex;
	justify-content: space-between;
  	background-color: red;
}


.descripter{
	display: inline-flex;
	flex-direction: row;
	margin-left: 30px;
}
/*Bomb interactivity*/
.bomb{
	width: 100px;
}
.bomb:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.bomb:hover .cls-5{
	fill:#726D67;
	transition: fill 0.5s;
}
.bomb:hover .cls-6{
	fill:#938682;
	transition: fill 0.5s;
}
.bomb:hover .cls-7{
	fill:#3F3C38;
	transition: fill 0.5s;
}
.bomb:hover .cls-8{
	fill:#D68922;
	transition: fill 0.5s;
}
.bomb:hover .cls-9{
	fill:#F9A541;
	transition: fill 0.5s;
}
.bomb:hover .cls-11{
	fill:#E5361F;
	transition: fill 0.5s;
}
.bomb:hover .cls-12{
	fill:#FC3A06;
	transition: fill 0.5s;
}
.bomb:hover .cls-13{
	fill:#871D08;
	transition: fill 0.5s;
}


