
@charset "UFT-8";

/*Web Page design*/
.title{
	text-align: center;
	font-size: 60px;
	background-color: #3D912C;
}

.paragraph{
	text-align: center;
	font-size: 20px;
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	margin-bottom: 100px;
}

.container{
	display: flex;
	justify-content: space-between;
}


.descripter{
	display: inline-flex;
	flex-direction: row;
	margin-left: 30px;
}
/*Bomb interactivity*/
.bomb{
	width: 100px;
	margin-top: 15px;
}
.bomb:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.bomb:hover .bombBase{
	fill:#726D67;
	transition: fill 0.5s;
}
.bomb:hover .bombBaseH{
	fill:#938682;
	transition: fill 0.5s;
}
.bomb:hover .bombBaseS{
	fill:#3F3C38;
	transition: fill 0.5s;
}
.bomb:hover .bombRope{
	fill:#D68922;
	transition: fill 0.5s;
}
.bomb:hover .bombRopeH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.bomb:hover .bombFire{
	fill:#E5361F;
	transition: fill 0.5s;
}
.bomb:hover .bombFireH{
	fill:#FC3A06;
	transition: fill 0.5s;
}
.bomb:hover .bombFireS{
	fill:#871D08;
	transition: fill 0.5s;
}
/*boomerang interactivity*/
.boomer{
	width:110px;
	margin-top: 17px;
}
.boomer:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.boomer:hover .boomerBase{
	fill:#D68922;
	transition: fill 0.5s;
}
.boomer:hover .boomerH{
	fill:#F9A541;
	transition: fill 0.5s;
}
/*Bow interactivity*/
.bow{
	width:100px;
	margin-top: 5px;
}
.bow:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.bow:hover .bowBase{
	fill:#D68922;
	transition: fill 0.5s;
}
.bow:hover .bowBaseH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.bow:hover .bowHead{
	fill:#CEC5BA;
	transition: fill 0.5s;
}
.bow:hover .bowHeadH{
	fill:#E2DDD7;
	transition: fill 0.5s;
}
/*Cap interactivity*/
.cap {
	width: 100px;
	margin-top: 18px;
}
.cap:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.cap:hover .capHole{
	fill:#102D09;
	transition: fill 0.5s;
}
.cap:hover .capBase{
	fill:#44A333;
	transition: fill 0.5s;
}
.cap:hover .capBaseH{
	fill:#63B74B;
	transition: fill 0.5s;
}
.cap:hover .capTail{
	fill:#3D912C;
	transition: fill 0.5s;
}/*Fire interactibity*/ 
.fire{
	width: 100px;
}
.fire:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.fire:hover .fireBase{
	fill:#E5361F;
	transition: fill 0.5s;
}
.fire:hover .fireStick{
	fill:#D68922;
	transition: fill 0.5s;
}
.fire:hover .fireBaseH{
	fill:#FC3A06;
	transition: fill 0.5s;
}.fire:hover .fireBaseS{
	fill:#871D08;
	transition: fill 0.5s;
}
.fire:hover .fireStickH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.hammer{
	width: 100px;
	margin-top: 20px;
}
.hammer:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.hammer:hover .hammerBase{
	fill:#D68922;
	transition: fill 0.5s;
}
.hammer:hover .hammerBaseH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.hook{
	width: 100px;
	margin-top: 20px;
}
.hook:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.hook:hover .hookHandle{
	fill:#D68922;
	transition: fill 0.5s;
}
.hook:hover .hookHandleH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.hook:hover .hookBody{
	fill:#3B93E2;
	transition: fill 0.5s;
}
.hook:hover .hookBodyH{
	fill:#4AABF4;
	transition: fill 0.5s;
}
.hook:hover .hookHead{
	fill:#9CACB5;
	transition: fill 0.5s;
}
.hook:hover .hookHeadH{
	fill:#BACFD8;
	transition: fill 0.5s;
}
.hook:hover .hookBodyS{
	fill:#1E547C;
	transition: fill 0.5s;
}
.hook:hover .hookHeadS{
	fill:#7CBC93;
	transition: fill 0.5s;
}
.ice{
	width: 100px;
}
.ice:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.ice:hover .iceStick{
	fill:#D68922;
	transition: fill 0.5s;
}
.ice:hover .iceStickH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.ice:hover .iceBase{
	fill:#1ADBE5;
	transition: fill 0.5s;
}
.ice:hover .iceBaseS{
	fill:#08A0B5;
	transition: fill 0.5s;
}
.ice:hover .iceBaseH{
	fill:#47EFFC;
	transition: fill 0.5s;
}
.potion{
	width: 100px;
	margin-top: 18px;
}
.potion:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.potion:hover .potionBase{
	fill:#E5361F;
	transition: fill 0.5s;
}
.potion:hover .potionBaseH{
	fill:#FC3A06;
	transition: fill 0.5s;
}
.potion:hover .potionBaseS{
	fill:#871D08;
	transition: fill 0.5s;
}
.potion:hover .potionBottle{
	fill:#D2F0F9;
	transition: fill 0.5s;
}
.potion:hover .potionBottleH{
	fill:#F4F8F9;
	transition: fill 0.5s;
}
.potion:hover .potionCork{
	fill:#D68922;
	transition: fill 0.5s;
}
.potion:hover .potionCorkH{
	fill:#F9A541;
	transition: fill 0.5s;
}
.sword{
	width: 100px;
	margin-top: 13px;
}
.sword:hover{
	transform: scale(1.1);
	transition: transform 0.75s;
}
.sword:hover .swordBlade{
	fill:#EDEDED;
	transition: fill 0.5s;
}
.sword:hover .swordBladeS{
	fill:#CECECE;
	transition: fill 0.5s;
}

.sword:hover .swordHandle{
	fill:#544CED;
	transition: fill 0.5s;
}

.sword:hover .swordHandleH{
	fill:#8F64F9;
	transition: fill 0.5s;
}

.sword:hover .swordHandleS{
	fill:#4141BF;
	transition: fill 0.5s;
}

.selected {
	fill: black;

}
.selected::after {
	content: "\2713";
}


